{% extends 'index.html' %}
{% load humanize %}
{% load static %}
{% block title %}
<a href="/" style="color: aliceblue;">INICIO</a> > <a href="/contaduria/aplicaciones/" style="color: aliceblue;">CONTADURIA</a> >  <a href="/solicitud/solicitudes/" style="color: aliceblue;">SOLICITUD DE PEDIDO</a>
{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Modal para mostrar detalles de la solicitud -->
<div class="modal fade" id="solicitudModal" tabindex="-1" role="dialog" aria-labelledby="solicitudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: #5454E6;" id="solicitudModalLabel">
                    <img class="logo img" src="{% static 'assets/logo.png' %}" alt="" style="height: 50px;width: 50px;">
                    &nbsp;&nbsp; Detalles de la Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-8">
                            <p><b class="text-primary">ID:&nbsp;</b> <span id="solicitudId"></span></p>
                            <p><b class="text-primary">Estado:&nbsp;</b> <span id="solicitudEstado"></span></p>
                            <p><b class="text-primary">Fecha:&nbsp;</b> <span id="solicitudFecha"></span></p>
                            <p><b class="text-primary">Solped #:&nbsp;</b> <span id="solicitudCodigo"></span></p>
                        </div>
         
                        <div class="col-4">
                            <div class="row text-center">
                            <h5 class="text-primary"><b>Importe Solicitado: </b></h5>
                            <h3><b style="color: #f20707;">$ <span id="solicitudImporte"></span></b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p><b class="text-primary">Detalle:&nbsp;</b> <span id="solicitudDetalle"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="p-3">
                        <table class="table table-responsive">
                            <thead>
                                <tr style="background-color: rgb(59, 78, 247); ; color: aliceblue;">
                                    <th>Articulo</th>
                                    <th>Objeto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="articulosSolicitud">

                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmacion de aceptacion masiva -->
<div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: #5454E6;" id="solicitudModalLabel">
                    <img class="logo img" src="{% static 'assets/logo.png' %}" alt="" style="height: 50px;width: 50px;">
                    &nbsp;&nbsp; Confirmar Autorización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas autorizar las solicitudes seleccionadas?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="confirmarAutorizacion">Confirmar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" style="min-height: 70vh;">
    <div class="card" >
        <div class="card-body" >

            <div class="row">
                <!-- cantidad solicitudes totales -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2" style="background-color: rgba(1, 37, 242, 0.729);border-left: 4px solid rgba(1, 10, 185, 0.9);">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                        <b style="color: aliceblue;">SOL. TOTALES</b></div>
                                    <div class="h4 mb-0 font-weight-bold" style="color: #ffffff;">{{ total_solicitudes }}</div>
                                </div>
                                <div class="col-auto">
                                    <img class="logo" src="{% static 'assets/iconos/logo-heart.png' %}" alt="" style="height: 60px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cantidad solicitudes pendientes -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2" style="background-color: rgba(244, 6, 6, 0.2);border-left: 4px solid rgba(253, 0, 0, 0.9);">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xl font-weight-bold text-danger text-uppercase mb-1">
                                        <b>SOL. PENDIENTES</b></div>
                                    <div class="h4 mb-0 font-weight-bold text-gray-800" style="color: #f20707;">{{ cantidad_solciitudes_pendientes }}</div>
                                </div>
                                <div class="col-auto">
                                    <img class="logo" src="{% static 'assets/iconos/logo-heart.png' %}" alt="" style="height: 60px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- total solicitudes pendientes -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2" style="background-color: rgba(245, 186, 57, 0.5);border-left: 4px solid rgba(237, 146, 0, 0.9);">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-boldtext-uppercase mb-1" style="color: rgb(252, 117, 0);">
                                        <b>TOT. PENDIENTE</b></div>
                                    <div class="h4 mb-0 font-weight-bold text-gray-800" style="color: #e96100;">
                                        $ &nbsp;&nbsp; {{ total_pendientes }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <img class="logo" src="{% static 'assets/iconos/logo-heart.png' %}" alt="" style="height: 60px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- botones -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="row">
                        <div class="col-6 p-1">
                            <div class="d-flex flex-column align-items-center">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="" style="align-items: center;width: 120px;border-radius: 15px;">
                                <div style="padding-bottom: 5px;">
                                    <img class="logo" src="{% static 'assets/iconos/filtro.png' %}" alt="" style="max-height: 80px;">
                                </div>
                                <div style="padding: 0;">
                                    <b>Filtrar</b>
                                </div>
                            </button>
                            </div>  
                        </div>
                        <div class="col-6 p-1">
                            <div class="d-flex flex-column align-items-center">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="" style="align-items: center;width: 120px;border-radius: 15px;">
                                <div style="padding-bottom: 5px;">
                                    <img class="logo" src="{% static 'assets/iconos/descargar.png' %}" alt="" style="max-height: 80px;">
                                </div>
                                <div style="padding: 0;">
                                    <b>Descargar</b>
                                </div>
                            </button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

            <div class="section"> <!-- Seccion de tabla-->
                <div class="row p-3">
                    <div class="container">
                        <div id="botonAutorizar" style="display: none;">
                            <button type="button" class="btn btn-success autorizar-button" data-toggle="modal" data-target="#confirmarModal">
                                Autorizar Seleccionados
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive" style="border-radius: 2px;">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="border-radius: 15px;border-color: #5454E6;">
                                <thead>
                                    <tr style="background-color: #5454E6;color: aliceblue;">

                                        <th class="text-center text-uppercase p-3"><input type="checkbox" name="seleccionar" id="seleccionarTodos" ></th>
                                        <th class="text-center text-uppercase" style="width: 120px;">Estado</th>
                                        <th class="text-center text-uppercase">Fecha</th>
                                        <th class="text-center text-uppercase">Solped #</th>
                                        <th class="text-center text-uppercase">Detalle</th>
                                        <th class="text-center text-uppercase">Improte</th>
                                        
                                        <th>                                      
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for solicitud in solicitudes  %}
                                    
                                    <tr >
                                        <td class="text-center p-3"><input type="checkbox" name="seleccionar" value="{{ solicitud.id }}"></td>
                                        {% if solicitud.ESTADO == False %}
                                        <td style="width: 130px;">
                                            {% if solicitud.OBSERVADA == False %}
                                            🔴Pendiente
                                            {% else %}
                                            🟠Observada
                                            {% endif %}
                                        </td> 
                                        {% else %}
                                        <td style="width: 130px;">
                                            🟢Aprobada
                                        </td>
                                        {% endif %}
                                        <td style="width: 130px;">📅{{ solicitud.FECHA }}</td>
                                        <td>{{ solicitud.CODIGO }}</td>
                                        <td>{{ solicitud.DETALLE|lower|capfirst|slice:"100"  }} ...</td>
                                        <td>💵{{solicitud.TOTAL_SOLICITUD|floatformat:2|intcomma}}</td>
                                        <!--<td>💵{{solicitud.NRO }}</td>-->
                                        <td style="width: 150px;">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button class="btn btn-primary" data-toggle="modal" data-target="#solicitudModal"
                                                            data-target="#verSolicitudModal"
                                                            data-solicitud-id="{{ solicitud.id }}"
                                                            data-fecha="{{ solicitud.FECHA }}"
                                                            data-codigo="{{ solicitud.CODIGO }}"
                                                            data-detalle="{{ solicitud.DETALLE }}"

                                                            data-importe="{{ solicitud.TOTAL_SOLICITUD|floatformat:2|intcomma }}"
                                                            data-estado="{% if solicitud.ESTADO == False %}{% if solicitud.OBSERVADA == False %}Pendiente{% else %}Observada{% endif %}{% else %}Aprobada{% endif %}">

                                                            <img class="logo" src="{% static 'assets/iconos/ver.png' %}" alt="" style="max-height: 30px;">
                                                    </button>
                                                </div>
                                                <div class="col-6">
                                                    {% if solicitud.ESTADO == False %}
                                                    <form method="post" action="{% url 'solicitudes' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="solicitud_id" value="{{ solicitud.id }}">
                                                        <button type="submit" class="btn btn-success">
                                                            <img class="logo" src="{% static 'assets/iconos/autorizar.png' %}" alt="" style="max-height: 30px;">
                                                        </button>
                                                    </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>   
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            <div class="pagination justify-content-center">
                                {% if page.has_previous %}
                                <a href="?page=1" class="btn btn-primary" style="margin: 5px;padding: 1;">Primera</a>
                                <a href="?page={{ page.previous_page_number }}" class="btn btn-primary" style="margin: 5px;padding: 1;">Anterior</a>
                                {% endif %}
                                
                                <span class="current">
                                    {% if cantidad_solciitudes_pendientes > 0 %}
                                    <b>Página {{ page.number }} de {{ page.paginator.num_pages }}</b>
                                    {% endif %}
                                </span>
                                                        
                                {% if page.has_next %}
                                <a href="?page={{ page.next_page_number }}" class="btn btn-primary" style="margin: 5px;padding: 1;">Siguiente</a>
                                <a href="?page={{ page.paginator.num_pages }}" class="btn btn-primary" style="margin: 5px;padding: 1;">Última</a>
                                {% endif %}
                            </div>
                            <div class="container">
                                {% if cantidad_solciitudes_pendientes == 0 %}
                                <h4 class="text-primary">Sin solicitudes.</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // Función para manejar la visibilidad del botón Autorizar
    function toggleAutorizarButton() {
        var numSolicitudesSeleccionadas = $('input[name="seleccionar"]:checked').length;

        if (numSolicitudesSeleccionadas > 0) {
            $('#botonAutorizar').show();
        } else {
            $('#botonAutorizar').hide();
        }
    }

    // Manejar cambios en las casillas de verificación
    $('input[name="seleccionar"]').change(function () {
        toggleAutorizarButton(); // Llama a la función para actualizar la visibilidad del botón
    });

    // Llama a la función al cargar la página para verificar el estado inicial
    toggleAutorizarButton();

    // Función para manejar la selección de todos los elementos
    $('#seleccionarTodos').click(function () {
        // Obtén el estado actual de la casilla de verificación "Seleccionar Todos"
        var isChecked = $(this).prop('checked');

        // Establece el estado de todas las casillas de verificación individuales
        $('input[name="seleccionar"]').prop('checked', isChecked);
    });

    // Función para mostrar el
    $('#solicitudModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);

        // Obtén el ID de la solicitud desde el botón
        var solicitudId = button.data('solicitud-id');
        $('#solicitudIdHidden').val(solicitudId);

        // Actualiza los elementos en el modal con los datos de la solicitud
        modal.find('#solicitudId').text(solicitudId);
        modal.find('#solicitudFecha').text(button.data('fecha'));
        modal.find('#solicitudCodigo').text(button.data('codigo'));
        modal.find('#solicitudDetalle').text(button.data('detalle'));
        modal.find('#solicitudImporte').text(button.data('importe'));
        modal.find('#solicitudEstado').text(button.data('estado'));

        // Filtra los artículos relacionados con la solicitud y actualiza la tabla en el modal
        var tablaArticulos = modal.find('#articulosSolicitud'); // Utiliza el ID de la tabla correcto
        tablaArticulos.empty(); // Limpia la tabla

        {% for articulo in articulos %}
            {% if articulo.pedido.id == solicitudId %}
                // Crea una nueva fila en la tabla para cada artículo relacionado
                var fila = $('<tr>');
                fila.append('<td>{{ articulo.articulo }}</td>');
                fila.append('<td>{{ articulo.objeto }}</td>');
                fila.append('<td>{{ articulo.cantidad }}</td>');
                fila.append('<td>${{ articulo.precio_unitario|floatformat:2|intcomma }}</td>');
                fila.append('<td>${{ articulo.total|floatformat:2|intcomma }}</td>');
                tablaArticulos.append(fila);
            {% endif %}
        {% endfor %}
    });

$(document).ready(function () {
    // Manejar clic en el botón de confirmación
    $('#confirmarAutorizacion').click(function () {
        var solicitudesSeleccionadas = [];
        
        // Recorre todas las casillas de verificación seleccionadas
        $('input[name="seleccionar"]:checked').each(function () {
            solicitudesSeleccionadas.push($(this).val());
        });

        
        // Envía un formulario con las solicitudes seleccionadas
        $.post('/autorizar_solicitudes/', { solicitudes: solicitudesSeleccionadas }, function (data) {
            // Aquí puedes manejar la respuesta del servidor si es necesario
            console.log("Botón de autorización clickeado");
            window.location.reload();
        });
        
        // Cierra el modal de confirmación
        $('#confirmarModal').modal('hide');
    });
});


// ------------- creacion de grafico GRAFICO_1 --------------

// Configuración del gráfico

const totales_secretarias = [
    {% for total in totales_secretarias %}
        {{ total|floatformat:2 }},
    {% endfor %}
];

const datos_grafico_1 = {
    labels: {{ nombres_secretarias|safe }},
    datasets: [
    {
        data: totales_secretarias, 
        backgroundColor:'rgba(15, 99, 232,0.8)',
        borderColor: 'rgba(15, 99, 232, 0.2)',
        borderWidth: 1
    }
]
};

// Configuración del gráfico
const opciones_grafico_1 = {
    plugins: {
        legend: {
            display: false,
        },
    },
    scales: {
        x: {
            display: false,
        },
        y: {
            beginAtZero: false,
            grid: {
                display: false,
            },
            max: 'auto',//suggestedMax: Math.max(...datos_grafico_1.datasets[0].data), // Configura el máximo sugerido al valor máximo de tus datos
        },
    },
    layout: {
        padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0,
        },
    },
};



// Obtén el contexto del lienzo (canvas)
const ctx_1 = document.getElementById('GRAFICO_1').getContext('2d');

// Crea el gráfico de barras
const grafico_1 = new Chart(ctx_1, {
    type: 'bar',
    data: datos_grafico_1,
    options: opciones_grafico_1
});

// ------------- creacion de grafico GRAFICO_2 --------------

// Configuración del gráfico
const datos_grafico_2 = {
    labels: ["Viv. Unifamiliar","Viv. C/ Comercio","Unid. Func. Hab.","Unid. Func. Hab.","Complejo Residencial"],
    datasets: [
    {
        labels: "secretaria 1",
        data:  [65,220,10,110,250], 
        backgroundColor:'rgba(15, 99, 232,1)',
        borderColor: 'rgba(15, 99, 232, 0.2)',
        borderWidth: 1
    },
    {
        labels: "secretaria 2",
        data:  [75,200,20,140,280], 
        backgroundColor:'rgba(244, 6, 6,1)',
        borderColor: 'rgba(244, 6, 6, 0.2)',
        borderWidth: 1
    }
]
};

// Configuración del gráfico
const opciones_grafico_2 = {
    
        plugins: {
            legend: {
                display: false 
            }
        },
        scales: {
            y: {
                beginAtZero: true,
            }
        }
    };

// Obtén el contexto del lienzo (canvas)
const ctx_2 = document.getElementById('GRAFICO_2').getContext('2d');

// Crea el gráfico de barras
const grafico_2 = new Chart(ctx_2, {
    type: 'pie',
    data: datos_grafico_2,
    options: opciones_grafico_2
});

// ------------- creacion de grafico GRAFICO_3 --------------

// Configuración del gráfico
const datos_grafico_3 = {
    labels: ["Viv. Unifamiliar","Viv. C/ Comercio","Unid. Func. Hab.","Unid. Func. Hab.","Complejo Residencial"],
    datasets: [
    {
        labels: "Real",
        data:  [65,220,10,110,250], 
        backgroundColor:'rgba(15, 99, 232,1)',
        borderColor: 'rgba(15, 99, 232, 0.2)',
        borderWidth: 1
    },
    {
        labels: "Proyectado",
        data:  [75,200,20,140,280], 
        backgroundColor:'rgba(244, 6, 6,1)',
        borderColor: 'rgba(244, 6, 6, 0.2)',
        borderWidth: 1
    }
]
};

// Configuración del gráfico
const opciones_grafico_3 = {
    
        plugins: {
            legend: {
                display: false 
            }
        },
        scales: {
            y: {
                beginAtZero: true,
            }
        }
    };


// Obtén el contexto del lienzo (canvas)
const ctx_3 = document.getElementById('GRAFICO_3').getContext('2d');

// Crea el gráfico de barras
const grafico_3 = new Chart(ctx_3, {
    type: 'bar',
    data: datos_grafico_3,
    options: opciones_grafico_3
});

</script>

{% endblock %}
