{% extends 'index.html' %}
{% load static %}
{% block title %}
<a href="/" style="color: aliceblue;">INICIO</a> > <a href="/contaduria/aplicaciones/" style="color: aliceblue;">CONTADURIA</a> > <a href="/contaduria/gastos/" style="color: aliceblue;">GASTOS</a>
{% endblock %}
{% block content %}
<div class="container" >
    <section class="page-section portfolio" id="portfolio" style="min-height: 70vh;">
        <div class="row justify-content-center">
            <!-- APP - 1 : Solicitud de pedidos -->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="/contaduria/gastos/asientosgasto/">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/gastos_reales.png' %}" alt="..." />
                    </div>
                </a>
            </div>
            <!-- APP - 2 : Redetermincaciones -->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="/contaduria/gastos/proyecciongasto/">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/gastos_proyectado.png' %}" alt="..." />
                    </div>
                </a>
            </div>
            <!-- APP - 3 : Calculadora de Tasas-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="/">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/app_disponible.png' %}" alt="..." />
                    </div>
                </a>
            </div>

        </div>
    </section>
</div>

{% endblock %}